@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(60px); }
  80% {
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  font-weight: 300;
  line-height: 1.6; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7; }

.heading-primary {
  text-transform: uppercase;
  color: #144e83;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 6px;
  text-align: center;
  animation-name: moveInBottom;
  animation-duration: .8s;
  animation-timing-function: ease-out; }
  .heading-primary:hover {
    transform: scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.experience-card {
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  padding: 3rem 5rem; }
  .experience-card:not(:last-child) {
    margin-bottom: 3rem; }
  .experience-card__position {
    color: #144e83; }
  .experience-card__company-name {
    font-weight: 700;
    color: #23520b;
    text-decoration: none; }
  .experience-card__duration {
    margin-bottom: 10px; }
  .experience-card__company-logo {
    position: absolute;
    top: 4rem;
    right: 4rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .2;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.section-cover {
  background-image: linear-gradient(105deg, rgba(51, 51, 51, 0.4) 0%, rgba(119, 119, 119, 0.4) 50%, transparent 50%), url(../../img/cover.png);
  background-position: right top;
  background-size: cover;
  height: 95vh;
  padding: 0 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 62.5em) {
    .section-cover {
      background-image: linear-gradient(105deg, rgba(51, 51, 51, 0.2) 0%, rgba(119, 119, 119, 0.2) 100%, transparent 100%), url(../../img/cover.png);
      grid-template-columns: 1fr; } }
  .section-cover__greeting {
    color: #ddd;
    font-size: 2.5rem; }
    .section-cover__greeting--message {
      margin-bottom: .6rem; }
    .section-cover__greeting--description {
      font-size: 2rem; }

.section-experience {
  padding: 10rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr minmax(30%, 80rem) 1fr; }
  .section-experience__heading {
    grid-column: 1 / -1; }
  .section-experience__card {
    grid-column: 2 / 3; }
