/*
0-600px:        Medium
700-900px:      Large
900+ is where our normal styles apply

$breakpoint argument choices:
- medium
- large
*/
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(40px); }
  80% {
    transform: translateY(-5px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  font-weight: 300;
  line-height: 1.6; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7; }

.heading-primary {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 6px;
  text-align: center; }
  .heading-primary:hover {
    transform: scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.experience-card {
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  padding: 3rem 5rem;
  transition: all .2s; }
  .experience-card:hover {
    transform: scale(1.02);
    box-shadow: 0.5rem 1rem 1.5rem rgba(0, 0, 0, 0.1); }
  .experience-card:not(:last-child) {
    margin-bottom: 3rem; }
  @media only screen and (max-width: 43.75em) {
    .experience-card {
      padding: 2rem 3rem;
      border-radius: 15px; } }
  .experience-card__position {
    color: #144e83; }
  .experience-card__company-name {
    font-weight: 700;
    color: #23520b;
    text-decoration: none; }
  .experience-card__duration {
    margin-bottom: 10px; }
  .experience-card__company-logo {
    position: absolute;
    top: 4rem;
    right: 4rem; }
    @media only screen and (max-width: 43.75em) {
      .experience-card__company-logo {
        display: none; } }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .2;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.education-card {
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 3rem 5rem;
  transition: all .2s; }
  .education-card:hover {
    transform: scale(1.02);
    box-shadow: 0.5rem 1rem 1.5rem rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 43.75em) {
    .education-card {
      padding: 2rem 3rem;
      border-radius: 15px; } }
  .education-card__position {
    color: #144e83; }
  .education-card__university-name {
    color: #144e83; }
    .education-card__university-name > * {
      text-decoration: none;
      color: #144e83; }
  .education-card__degree {
    font-weight: 700;
    color: #23520b; }
  .education-card__honors {
    font-weight: 700;
    color: #333; }
  .education-card__duration {
    margin-bottom: 10px; }
  .education-card__university-logo {
    position: absolute;
    top: 3rem;
    right: 4rem; }
    @media only screen and (max-width: 43.75em) {
      .education-card__university-logo {
        display: none; } }
  .education-card__description {
    margin-left: 3rem; }

.project-card {
  color: #fff;
  border-radius: 20px;
  display: grid;
  overflow: hidden; }
  .project-card__name {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    z-index: 3;
    padding: 1rem 0;
    background-color: rgba(255, 255, 255, 0.8);
    color: #101d2c;
    font-weight: bold; }
  .project-card__img {
    width: 100%;
    grid-row: 2 / 4;
    grid-column: 1 / 3;
    z-index: 1; }
  .project-card__footer {
    grid-row: 4 / 5; }
    .project-card__footer--1 {
      margin-right: .05rem;
      padding: 1rem 0;
      grid-column: 1 / 2;
      transition: all .2s;
      color: #101d2c;
      background-color: rgba(255, 255, 255, 0.8);
      font-weight: bold;
      font-size: 1.5rem;
      text-transform: uppercase;
      cursor: pointer; }
      .project-card__footer--1:hover, .project-card__footer--1:active {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.05); }
    .project-card__footer--2 {
      margin-left: .05rem;
      padding: 1rem 0;
      grid-column: 2 / 3;
      transition: all .2s;
      color: #101d2c;
      background-color: rgba(255, 255, 255, 0.8);
      font-weight: bold;
      font-size: 1.5rem;
      text-transform: uppercase;
      cursor: pointer; }
      .project-card__footer--2:hover, .project-card__footer--2:active {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.05); }

.section-project {
  padding: 10rem 15rem;
  background-image: linear-gradient(to right bottom, rgba(16, 29, 44, 0.9), rgba(16, 29, 44, 0.9)), url(../../img/bg1.jpg); }
  @media only screen and (max-width: 43.75em) {
    .section-project {
      padding: 10rem 5rem; } }
  .section-project__heading {
    color: #fff; }
  .section-project__quote {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 6rem; }
  .section-project__card {
    margin-bottom: 6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 5rem; }
  .section-project__footer {
    text-align: center; }
    .section-project__footer button.btn {
      border: none;
      color: #101d2c;
      background-color: rgba(255, 255, 255, 0.8);
      font-size: 1.6rem;
      font-weight: 600;
      padding: 1.5rem 2.5rem;
      text-transform: uppercase;
      transition: transform .2s, background-color .2s, color .2s;
      cursor: pointer; }
      .section-project__footer button.btn:hover, .section-project__footer button.btn:active {
        background-color: rgba(255, 255, 255, 0.05);
        color: #fff;
        transform: scale(1.1); }

.section-cover {
  background-image: linear-gradient(105deg, rgba(16, 29, 44, 0.9) 0%, rgba(16, 29, 44, 0.9) 50%, transparent 50%), url(../../img/cover.png);
  background-position: right top;
  background-size: cover;
  height: 95vh;
  padding: 0 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 56.25em) {
    .section-cover {
      background-image: linear-gradient(105deg, rgba(51, 51, 51, 0.2) 0%, rgba(119, 119, 119, 0.2) 100%, transparent 100%), url(../../img/cover.png);
      grid-template-columns: 1fr; } }
  .section-cover__greeting {
    color: #ddd;
    font-size: 2.5rem;
    animation-name: moveInBottom;
    animation-duration: .8s;
    animation-timing-function: ease-out; }
    .section-cover__greeting--message {
      margin-bottom: .6rem; }
    .section-cover__greeting--description {
      font-size: 2rem; }

.section-education {
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../../img/education-bg.jpg);
  background-position: center 35%;
  background-size: cover;
  padding: 10rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr minmax(30%, 80rem) 1fr; }
  @media only screen and (max-width: 43.75em) {
    .section-education {
      padding: 10rem 5rem; } }
  .section-education__heading {
    color: #144e83;
    grid-column: 1 / -1; }
  .section-education__card {
    grid-column: 2 / 3; }

.section-experience {
  padding: 10rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr minmax(30%, 80rem) 1fr; }
  @media only screen and (max-width: 43.75em) {
    .section-experience {
      padding: 10rem 5rem; } }
  .section-experience__heading {
    color: #144e83;
    grid-column: 1 / -1; }
  .section-experience__card {
    grid-column: 2 / 3; }
