// FONT VARIABLES
$font-primary: "Segoe UI", sans-serif;

// COLOR
$color-grey-dark-1: #222;
$color-grey-dark-2: #333;
$color-grey-dark-3: #777;

$color-grey-light: rgb(215, 215, 215);

$color-blue-dark: #101d2c;

$color-primary: #144e83;
$color-secondary: #23520b;
