// FONT VARIABLES
$font-primary: "Segoe UI", sans-serif;

// COLOR
$color-grey-dark-1: #333;
$color-grey-dark-2: #777;

$color-grey-light: rgb(248, 248, 248);

$color-blue-dark: #101d2c;

$color-primary: #144e83;
$color-secondary: #23520b;
