// FONT VARIABLES
$font-primary: "Segoe UI", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-large: 62.5em; // 1000px

// COLOR
$color-grey-dark-1: #333;
$color-grey-dark-2: #777;

$color-grey-light: rgb(248, 248, 248);

$color-primary: #144e83;
$color-secondary: #23520b;
