.experience-card {
    position: relative;
    background-color: rgba(#fff, .65);
    border-radius: 20px;
    padding: 3rem 5rem;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }

    &__duration {
        margin-bottom: 10px;
    }

    &__company-logo {
        position: absolute;
        top: 4rem;
        right: 4rem;    
    }
}
