.experience-card {
    position: relative;
    background-color: rgba(#fff, .6);
    border-radius: 20px;
    padding: 3rem 5rem;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }

    &__position {
        color: $color-primary;
    }

    &__company-name {
        font-weight: 700;
        color: $color-secondary;     
        text-decoration: none;
    }

    &__duration {
        margin-bottom: 10px;
    }

    &__company-logo {
        position: absolute;
        top: 4rem;
        right: 4rem;    
    }
}
