.skill-card {
    margin: 0 1.2rem;

    img {
        width: 75px;
        height: auto;
        border-radius: 15%;
        margin-bottom: 1rem;
    }

    p {
        text-align: center;
        line-height: 1.4;
    }
}
