*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 16px;

    @include respond(small) {
        font-size: 50%; //1rem = 8px, 8/16 = 50%
    }
}

body {
    margin: 0;
    font-family: $font-primary;
    font-weight: 300;
    line-height: 1.6;
}