.section-aboutme {
    background-color: $color-grey-light-2;
    background-position: right top;
    background-size: cover;
    padding: 10rem;
    color: $color-grey-dark-1;
    font-size: 1.8rem;

    &__heading {
        color: $color-primary;
    }

    &__content {
        display: grid;
        grid-template-columns: 60% 40%;
        align-items: center;
        justify-content: center;    
    }

    &__terminal {
        margin: 0 5rem;
        padding: 2rem;
        color: white;
        background-color: black;

        &--title {
            font-size: 3rem;
            margin-bottom: 1rem;
            text-transform: uppercase;
        }
    }

    &__description {
        padding: 0 10rem;
    }

    &__profile {
        margin-bottom: .8rem;

        &--title {
            color: $color-secondary;
        }

    }

    &__social-network {
        margin-top: 2rem;

        &--logo {
            width: 60px;
            height: 60px;
            margin-right: 1rem;
        }
    }
}
